.Auth {
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form {
  text-align: left;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  max-width: 400px;
  padding: 50px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  font-size: 9pt;
  
  .auth-label, .auth-input {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    webkit-appearance: none;
    outline: none;
    box-sizing: border-box;
  }
  .auth-input {
    margin-top: 13px;
    margin-bottom: 40px;
    padding-bottom: 7px;
    border: 0;
    border-bottom: 1px solid #ccc;
    transition: border-bottom .2s linear;

    &:focus {
      border-bottom: 1px solid $primary;
    }
  }
  .auth-auto {
    margin-top: 0px;
    display: inline-block;
    cursor: pointer;
    padding-top: 2px;
    vertical-align: middle;
    margin-bottom: 3px;
    background-position: left;
    background-repeat: no-repeat;
    width: auto;
    width: initial;
  }
  .auth-auto-label {
    cursor: pointer;
    margin-left: 4px;
    display: inline-block;
    width: auto;
    width: initial;
  }
  .auth-btn {
    text-align: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    color: white;
    font-size: 14pt;
    padding-top: 10px;
    padding-bottom: 8px;
    cursor: pointer;
    background-color: rgba($primary,0.9);

    &:hover {
      background-color: $primary;
    }

    .auth-btn-img {
      vertical-align: top;
    }
  }
  .auth-text {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    .auth-text-link {
      color: #ce410a;
      margin-left: 10px;
    }
  }
}

