.Mail.auth-form {
  max-width: 100vw;
  margin-left: 30px;
  margin-right: 30px;
}

.mail-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height : 445px;
	max-height : 100vw;
	box-sizing : border-box;
	padding : 38px;
	.mail-title{
		font-size : 19px;
		font-weight : 800;
		padding-bottom : 20px;
		border-bottom : 2px solid black;
		max-width : 310px;
		width : 100%;
		margin-bottom : 20px;
	}
	.mail-text {
		font-size : 18px;
		font-weight : bold;
		line-height : 32px;
	}
	.mail-btn {
		cursor : pointer;
		margin-top : 22px;
		padding : 14px 35px;
		font-size : 17px;
		border-radius : 200px;
		background-color : #ff5c3e;
		color : white;
		display : inline-block;
		text-align : center;
	}
}
